<img src="https://kpmg.com/content/experience-fragments/kpmgpublic/in/en/site/header/master/_jcr_content/root/header/logo.coreimg.svg/1732260814565/logo.svg"/>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a  routerLink="/home" routerLinkActive="active">home|</a>
  <br>
  <a  routerLink="/user" routerLinkActive="active">user|</a>
  <br>
  <a  routerLink='user/:id' routerLinkActive="active">userdetails</a>
  <br>
</nav> -->
<nav class="nav">
  <a class="nav-link" aria-current="page" routerLink="/home" >Home</a>
  <a class="nav-link" routerLink='/login' >login</a>
  <a class="nav-link" routerLink="/user">user</a>
  <a class="nav-link" routerLink='user/:id'>userdetails</a>
  <a class="nav-link" routerLink='posts'>posts</a>
  <a class="nav-link" routerLink='posts/:id'>postdetails</a>
  <a class="nav-link" routerLink='/admin'>admin</a>


</nav>

<router-outlet />
